@media (min-width: 1200px){
	.container-fluid{
		max-width: 960px;
	}
}

#election {
	font-size: large;
	margin-bottom: 100px;
}

#election h3 {
	margin: 50px 0 30px;
}

#election h4 {
	margin: 25px 0 15px;
}

#election p {
	text-align: justify;
}