
.navbar-brand {
	padding:0;
	height:70px;
}
.navbar-brand img{
	height:70px;
}

#campaigndropdown{
	background-color: #111111;
}

#campaigndropdown li a{
	color: #fff;
}


@media (min-width: 1200px) {
    nav{
        max-width: 970px;
        margin: auto;
    }
}

body{
	background-color: #1D2627;
	color:#fff;
}

#videoembed iframe{
	width:500px;
	height:281px;
}
@media (max-width: 500px){
	#videoembed iframe{
		width:100%;
		height:auto;
	}
}

#quotes{
	background-color: #112222;
	padding: 30px 0 30px;
}

#links{
	background-color: #121212;
	padding: 50px 0 50px;
}

#whatpirates{
	padding:50px 0 50px;
}

@media (min-width: 768px){
	#links{
		display: flex;
	}
}

#statements, #discussions {
	border: 1px solid white;
	border-radius: 5px;
	background-color: #1D3637;
}

.space{
	padding-top:50px;
}

#quotes blockquote {
	border-left: none;
}

#joinbutton{
	color:#fff;
}

#constitution iframe{
	width:100%;
	height:500px;
}

#sitefooter{
	padding-top:30px;
	padding-bottom:100px;
	background-color: #234345;
}


#loading {
	/* Size and position */
	font-size: 25px; /* 1em */
    width: 9em;
	height: 9em;
    margin: 100px auto;
    position: relative;

    /* Styles */
	border-radius: 50%;
    background: rgba(255,255,255,0.1);
    border: 1em dashed rgba(138,189,195,0.5);
    box-shadow:
        inset 0 0 2em rgba(255,255,255,0.3),
        0 0 0 0.7em rgba(255,255,255,0.3);
    animation: rota 3.5s linear infinite;

    /* Font styles */
    font-family: 'Racing Sans One', sans-serif;

    color: #444;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 .04em rgba(255,255,255,0.9);
    line-height: 6em;
}

#loading:before,
#loading:after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: inherit;
    box-shadow: inset 0 0 2em rgba(255,255,255,0.3);
    border: 1em dashed;
}

#loading:before {
	border-color: rgba(138,189,195,0.2);
	top: 0; right: 0; bottom: 0; left: 0;
}

#loading:after {
	border-color: rgba(138,189,195,0.4);
    top: 1em; right: 1em; bottom: 1em; left: 1em;
}

#loading .inner {
    width: 100%;
    height: 100%;
    animation: rota 3.5s linear reverse infinite;
}

#loading span {
    display: inline-block;
    animation: placeholder 1.5s ease-out infinite;
}

#loading span:nth-child(1)  { animation-name: loading-1;  }
#loading span:nth-child(2)  { animation-name: loading-2;  }
#loading span:nth-child(3)  { animation-name: loading-3;  }
#loading span:nth-child(4)  { animation-name: loading-4;  }
#loading span:nth-child(5)  { animation-name: loading-5;  }
#loading span:nth-child(6)  { animation-name: loading-6;  }
#loading span:nth-child(7)  { animation-name: loading-7;  }


@keyframes rota {
    to { transform: rotate(360deg); }
}

@keyframes loading-1 {
    14.28% { opacity: 0.3; }
}

@keyframes loading-2 {
    28.57% { opacity: 0.3; }
}

@keyframes loading-3 {
    42.86% { opacity: 0.3; }
}

@keyframes loading-4 {
    57.14% { opacity: 0.3; }
}

@keyframes loading-5 {
    71.43% { opacity: 0.3; }
}

@keyframes loading-6 {
    85.71% { opacity: 0.3; }
}

@keyframes loading-7 {
    100% { opacity: 0.3; }
}
